// ============== From style-guide (Frontendmentor.io ==========

// Colors

$color-scissors: hsl(39, 89%, 49%);
$color-paper: hsl(230, 89%, 62%);
$color-rock: hsl(349, 71%, 52%);

// Text

$light-text: #fff;
$dark-text: hsl(229, 25%, 31%);
$score-text: hsl(229, 64%, 46%);
$header-outline: hsl(217, 16%, 45%);

// Background

$background-gradient: radial-gradient(circle at top, hsl(214, 47%, 23%),hsl(237, 49%, 15%));

// Media Queries

$mobile: 375px;
$desktop: 1366px;

// ================= Other styles ===============================

$gutter: 1rem;

$font-size-xsmall: 0.8rem;
$font-size-small: 1.5rem;
$font-size-medium: 2rem;
$font-size-large: 3rem;
$font-size-xlarge: 4rem;

$image-paper: '/src/images/icon-paper.svg';
$image-rock: '/src/images/icon-rock.svg';
$image-scissors: '/src/images/icon-scissors.svg';