@import '/src/styles/index.scss';

.footer {
    width: 100vw;
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1*$gutter;

    &__attribution {
        margin: 1.5*$gutter;
        font-size: $font-size-xsmall;

        & a {
            color: hsl(228, 47%, 55%);
        }
    }

    &__rules {
        display: block;
        font-size: $font-size-xsmall;
        margin: 0 1.5*$gutter;
        border-radius: 5px;
        border: 3px solid $header-outline;
        color: $header-outline;
        background: none;
        font-weight: 600;
        letter-spacing: 2px;
        outline: none;
        padding: 0.25*$gutter 1.5*$gutter;

        &:hover {
            background-color: $header-outline;
            color: $dark-text;
            cursor: pointer;
        }
    }
}

@media screen and (min-width: 768px) {
    .footer {
        flex-direction: row;
    
        &__attribution {
            font-size: $font-size-small;
            margin: 1.5*$gutter;
    
        }
    
        &__rules {
            font-size: $font-size-small;
        }
    }

}